<div class="p-2">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Link with href
    </a>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
    </div>

    <a class="dropdown-item" href="#">Appliances</a>
    <a class="dropdown-item" href="#">Bathroom</a>
    <a class="dropdown-item" href="#">Building Materials</a>
    <a class="dropdown-item" href="#">Doors & Windows</a>
    <a class="dropdown-item" href="#">Electrical</a>
    <a class="dropdown-item" href="#">Flooring</a>
    <a class="dropdown-item" href="#">Furniture</a>
    <a class="dropdown-item" href="#">Heating & Cooling</a>
    <a class="dropdown-item" href="#">Kitchen</a>
    <a class="dropdown-item" href="#">Lawn & Outdoor Living</a>
    <a class="dropdown-item" href="#">Lighting</a>
</div>


